<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender class="org.apache.log4j.RollingFileAppender" name="portal">
        <param name="append" value="true"/>
        <param name="file" value="/var/tmp/adportal.log"/>
        <param name="maxBackupIndex" value="5"/>
        <param name="maxFileSize" value="5MB"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} - %m%n"/>
        </layout>
    </appender>

    <logger name="com.portal.log.ADLogs">
        <level value="INFO"/>
        <appender-ref ref="portal"/>
    </logger>

</log4j:configuration>
